body {
  background-color: LightGrey;
  color: DarkBlue;
  font-family: Arial;
}
h1 {
  color: DarkMagenta;
  font-family: Papyrus, Arial;
}
h2 {
  color: DarkMagenta;
  font-family: Papyrus, Arial;
}
h3 {
  color: DarkMagenta;
  font-family: Papyrus, Arial;
}
