/*Website Styles*/
*{
  font-size: 100%;
}
body {
  background-color: LightGrey;
  color: DarkBlue;
  font-family: Arial;
  font-size:16px;
}
header h1 {
  color: DarkMagenta;
  font-family: Papyrus, Arial;
  font-size:70px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}
h2 {
  color: DarkMagenta;
  font-family: Papyrus, Arial;
  font-size:35px;
  font-weight: bold;
  font-style: italic;
  text-align: left;
}
section ul li {
  line-height: 2;
}
section ol {
  line-height: 2;
}
h3 {
  color: DarkMagenta;
  font-family: Papyrus, Arial;
  font-size:35px;
  font-weight: bold;
  font-style: italic;
  text-align: left;
}
p {
  line-height: 2;
  text-align: justify;
}
a {
  color: DarkBlue;
  text-decoration: underline;
}
a:hover {
  color: DarkMagenta;
}
footer p {
  text-align: center;
  font-size:14px;
}
